.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
}
.card {
  max-width: 400px;
  min-width: 350px;
  margin: 30px;
  text-align: center;
}

.product-buttons {
  display: flex;
  width: 60%;
  margin: 0 auto;
}
.btn {
  display: block !important;
  max-width: 200px !important;
  margin: 10px auto;
}

.soap-cart__wrapper {
  color: white;
}

.soap-cart_icon__container {
  color: white;
}